.title{
  text-align: center;
}

.container{
  background-color: rgb(48, 45, 45);
  text-align: center;
  height: 470px;
  width: 330px;
  margin: auto;
  border: 3px rgb(236, 236, 236) solid;
  border-radius: 5%;
  padding-top: 10px;
  margin-top: 30px;
    padding-bottom: 24px;
  
  

}

.row{
  padding-top: 5px;
  padding-bottom: 5px;
}

.button{
 
  width: 55px;
  height: 55px;
  margin: 5px;
  font-weight: 700;
  font-size: 30px;
  color: rgb(247, 240, 240);
  /* border: 1px rgb(32, 32, 32) solid;
  border: 6px; */
  border-radius: 15%;
  background-color: rgba(255, 145, 0, 0.841);
}

.button:hover{
  background-color: rgb(156, 195, 234);
  height: 55px;
  width: 55px;
  border-radius: 15%;
}

.input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(32, 31, 31);
  color: rgb(239, 248, 255);
  
}

h5{
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
  margin-right: 35px;
  font-style: italic;
}